<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css">
    <title>About</title>
  </head>
  <body id="aboutpage">
    <nav>
      <div class="dropdown">
        <button class="dropbtn">Menu</button>
        <div class="dropdown-content">
          <a href="/home">Homepage</a>
          <a href="/works">Works</a>
        </div>
      </div>
    </nav>
    <div>
    <h1>James Turrell</h1>
    <div class="div-aboutpage">
    <img id ="james-turrell" src="/images/JamesTurrell.jpeg"></img>
    
    <p class="artist-info">A leading figure of the <a class="artist-bio" href="https://www.artsy.net/gene/light-and-space-movement"><i>
        Light and Space movement</i></a>, 
        <a class="artist-bio" href="https://www.artsy.net/artist/james-turrell"><b>James Turrell</b></a> 
        creates colored light installations and holographs that produce 
        awe-inspiring optical illusions:<br><br>
        Turrell’s pieces can look like cubes, flat planes, 
        pyramids, or tunnels, when they’re simply composed of light.<br><br> 
        The artist studied at the University of California, Irvine, 
        before attending the art and technology program at the 
        Los Angeles County Museum of Art.<br><br> There, he worked alongside 
        fellow light artist Robert Irwin and honed his now-signature process 
        and aesthetic.<br><br> Turrell’s work has been shown in institutions around 
        the world, including the Whitney Museum of American Art, 
        the Guggenheim Museum, the Museum of Contemporary Art, Los Angeles, 
        and Museo Jumex, among others.<br><br> Since the 1970s, Turrell has been working
         on a celestial light observatory at the Roden Crater in Arizona.</p>
        </div>
         <footer>
            <span
              >Work by <a href="https://github.com/Marisa-Pinheiro" class="git-hub-page">Marisa Pinheiro</a>, May
              2023</span>
          </footer>
  </body>
</html>
